#header {
  background: #171D3A;
  border-top: #171D3A;
  color: white;
  font-weight: 500;
  font-size: 30px;
  flex: auto;
  height: auto;
  padding: 10px;
  text-align: right;
  width: auto;
  display: flex;
}

#image {
  width:106px;
  margin-top: 1px;
  margin-left: 37px;
  margin-right: 25px;
  margin-bottom: 1px;
}

#logo {
  background: #171D3A;
  color: white;
  height: auto;
  margin-left: 25px;
  margin-right: auto;
  text-decoration: none;
  width: 80px;
  }

#logout {
  background: #171D3A;
  flex: auto;
  font-weight: 500;
  text-align: right;
  order: 1;
  font-size: 20px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 25px;
}

#logoutright {
  background: #171D3A;
  flex: auto;
  font-weight: 500;
  text-align: right;
  order: 2;
  padding-top: 1px;
}

#page {
  background: #171D3A;
  display: flex;
  flex-direction: row;
}

#navbar {
  display: block;
  font-weight: 500;
  font-size: 22px;
  flex: 1,5;
  order: 1;
  text-align: center;
  width:auto;
  list-style-type:none;
}

#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  padding-bottom: 46px;
  padding-top: 45px;
}

#navbar a:hover {
  background-color: #E5FDFC;
  color: #171D3A;
}

#side {
  background: #E5FDFC;
  color: black;
  display: block;
  flex: 5.5;
  order: 2;
  width: auto;
}

#footer {
  background: #E5FDFC;
  color: black;
  display: flex;
  font-weight: 500;
  flex: auto;
}

#left {
  background: #171D3A;
  color: white;
  display: block;
  font-weight: 500;
  order: 1;
  text-align: left;
  width: 216px;
}

#middle {
  background: #171D3A;
  display: block;
  flex: auto;
  font-weight: 500;
  order: 2;
  text-align: center;
  width: 1500px;
  color: white;
}

#right {
  background: #171D3A;
  display: block;
  flex: auto;
  font-weight: 500;
  text-align: right;
  order: 3;
  flex: auto;
  color: white;
}

.lefthover:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.lefthover:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#box {
width: 64%;
padding: 18%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #171D3A;
text-align: center;
}

#box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

#box input[type = "text"],#box input[type = "Kodeord"] {
  border:0;
  background: #E5FDFC;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 13px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  color: #171D3A;
}

#box input[type = "submit"] {
  background: #171D3A;
  border-radius: 24px;
  border: 2px solid white;
  color: white;
  margin: 20px auto;
  padding: 13px 10px;
  width: 175px;
  text-align: center;
  font-size: 20px;
}

#nybruger {
  background: #171D3A;
  display: block;
  margin: 20px auto;
  border: 2px solid white;
  padding: 8px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 24px;
  font-weight: 500;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  font-family: sans-serif;
}

#message {
  color: white;
}

table {
    table-layout: fixed;
    width: 100% ;
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
    background: #171D3A;
    color: white;
    margin-left: 2px;
}

td {
    background-color: #E5FDFC;
    border: 1px solid black;
    width: 25% ;
    color: #171D3A;
}

th, td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}
 #navnlink {
   color: #171D3A;
   text-decoration: none;
 }
.Posts {
  text-align: center;
  font-size: 25px;
}
#posttitle {
  font-size: 20px;
}
#posttext {
  font-size: 15px;
  border: 1px solid black;
  width: 25%;
  margin: auto;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}
#postdate {
  font-size: 15px;
}
#customersingle {
  display: flex;
  flex: auto;
  flex-direction: row;
}
#customerinfo {
order: 1;
text-align: left;
display: block;
width: auto;
padding: 20px;
margin-right: 100px;
}
#customernotefileinput {
order: 2;
text-align: middle;
display: block;
width: auto;
padding: 30px;
margin-right: 100px;
}
#customernotes {
  order: 3;
  text-align: center;
  display: block;
  width: 30%;
  padding: 30px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
