#header {
  background: #171D3A;
  color: white;
  font-family: sans-serif;
  font-size: 200px;
  flex: auto;
  height: auto;
  padding: 1px;
  text-align: center;
  width: auto;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171D3A;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 120px;
  margin-bottom: 45px;
}

li a:hover {
  background-color: #E5FDFC;
  color: #171D3A;
}
h2 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

.leftnav {
  width: 165px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  vertical-align: left;
}
