#header {
  background: #171D3A;
  border-top: #171D3A;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  flex: auto;
  height: auto;
  padding: 10px;
  text-align: right;
  width: auto;
  display: flex;
}

#image {
  width:106px;
  margin-top: 1px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 1px;
}

#page {
  background: #171D3A;
  display: flex;
  flex-direction: row;
}

#navbar {
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  flex: 1,5;
  order: 1;
  text-align: center;
  width:auto;
  list-style-type:none;
}

#navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  padding-bottom: 46px;
  padding-top: 45px;
}

#navbar a:hover {
  background-color: #E5FDFC;
  color: #171D3A;
}

#side {
  background: #E5FDFC;
  color: black;
  display: block;
  flex: 5.5;
  order: 2;
  width: auto;
}

#footer {
  background: #E5FDFC;
  color: black;
  display: flex;
  font-family: sans-serif;
  flex: auto;
}

#left {
  background: #E5FDFC;
  display: block;
  flex: auto;
  font-family: sans-serif;
  order: 1;
  text-align: left;
}

#middle {
  background: #E5FDFC;
  display: block;
  flex: auto;
  font-family: sans-serif;
  order: 2;
  text-align: center;
}

#right {
  background: #E5FDFC;
  display: block;
  flex: auto;
  font-family: sans-serif;
  text-align: right;
  order: 3;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171D3A;
}

#Login{
margin: 0;
padding: 0;
font-family: sans-serif;
background: black;
}

.box{
width: 64%;
padding: 18%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #171D3A;
text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;

}
.box input[type = "text"],.box input[type = "Kodeord"] {
  border:0;
  background: none;
